@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@using Task_manager.Enum;
@using Task_manager.Models;
@using Task_manager.Domain.Respone;

<div class="row">
    <div class="form-group col-md-6">
        <label class="col-form-label">Название</label>
        <input name="nameTask" type="text" class="form-control" />
    </div>
    <div class="form-group col-md-6">
        <label class="col-form-label">Приоритет</label>
        <select id="prioritySearch" type="text" class="form-control mb-3">
            <option value="">-не задано-</option>
            @foreach (var priority in Html.GetEnumSelectList<Priority>())
            {
                <option value="@priority.Value">@priority.Text</option>
            }
        </select>
    </div>
</div>

<table class="table table-hover" id="tableId" style="width: 100%; table-layout: fixed;">
    <thead>
        <tr>
            <th style="width: 20%;">Название</th>
            <th style="width: 15%;">Сложность</th>
            <th style="width: 35%;">Описание</th>
            <th style="width: 15%;">Готовность</th>
            <th style="width: 15%;">Действие</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table> 

<div class="modal fade" id="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Информация</h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deleteTask">Удалить</button>
                <div class="ms-auto">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="updateTask">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>




   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type:"text /javascript" src="https://cdn.datatables.net/2.1.6/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
            const swalWithButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success'
                },
                buttonsStyling: false

            });

            let dataTable = $('#tableId').DataTable({
                info: false,
                serverSide: true,
                searching: false,
                paging: true,
                sorting: false,

                ajax: {
                url: "@Url.Action("TaskHandler", "TaskList")",
                    method: 'POST',
                    data: function (d) {
                        d.filter = {
                            Name: $('input[name="nameTask"]').val(),
                            Priority: $('#prioritySearch option:selected').val(),
                            PageSize: d.length,
                            Skip: d.start,
                        };
                    }
                },
                columns: [
                    { data: 'name' },
                    { data: 'priority' },
                    { data: 'description' },
                    { data: 'isDone' },
                    {
                        data: null,
                        sortable: false,
                        render: function (data, type) {
                            return '<button class="btn btn-success btn-sm center-block">Выполнить</button>'
                        }
                    },

                ],
                createdRow: function (nRow, data) {
                    var handlerEdit = function () {
                        openModal({
                            url: '@Url.Action("GetTask")',
                            data: data.id
                        })
                    }
                    var handlerComplete = function () {
                        swalWithButtons.fire({
                            title: 'Вы уверены?',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Да',
                            cancelButtonText: 'Нет',
                            customClass: {
                                confirmButton: 'btn btn-success',
                                cancelButton: 'btn btn-danger custom-cancel-button' 
                            },
                            buttonsStyling: false,
                            reverseButtons: true
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("EndTask")',
                                    data: { id: data.id },
                                    success: function (respone) {
                                        Swal.fire({
                                            title: 'Информация',
                                            text: respone.description,
                                            icon: 'success',
                                            confirmButtonText: 'OK'

                                        })
                                            .then((result) => {
                                                if (result.isConfirmed) {
                                                   location.reload();
                                                }
                                            });
                                    },

                                    error: function (respone) {
                                        Swal.fire({
                                            title: 'Информация',
                                            text: respone.responseJSON.description,
                                            icon: 'error',
                                            confirmButtonText: 'OK'
                                        })
                                    }

                                })
                            }
                        })
                    }

                    for (var i = 0; i < dataTable.columns().header().length - 1; i++) {
                        if (data.isDone === 'Готово')
                            $('td', nRow).eq(i).css('cursor', 'pointer');
                        else
                            $('td', nRow).eq(i).css('cursor', 'pointer');


                        $('td', nRow).eq(i).on('click', handlerEdit);
                    }
                    $('td button', nRow).on('click', handlerComplete);
                }
            });

        $('input[name="nameTask"]').on('change', function () {
            dataTable.draw();
        });

        $('#prioritySearch').on('change', function () {
            dataTable.draw();
        });       
</script>
<script>
    $('#updateTask').on('click', function (e) {
        e.preventDefault();

        Swal.fire({
            title: 'Вы уверены?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Да',
            cancelButtonText: 'Нет',
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger custom-cancel-button'
            },
            buttonsStyling: false,
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateTask", "TaskList")',
                    data: $('#taskForm').serialize(),
                    success: function (response) {
                        Swal.fire({
                            title: 'Информация',
                            text: response.description,
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });
                    },
                    error: function (response) {
                        Swal.fire({
                            title: 'Ошибка',
                            text: response.responseJSON.description,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            }
        });
    });

    $('input[name="nameTask"]').on('change', function () {
        dataTable.draw();
    });

    $('#prioritySearch').on('change', function () {
        dataTable.draw();
    });
</script>

<script>
    $('#deleteTask').on('click', function (e) {
        e.preventDefault();

        Swal.fire({
            title: 'Вы уверены?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Да',
            cancelButtonText: 'Нет',
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger custom-cancel-button'
            },
            buttonsStyling: false,
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteTask", "TaskList")',
                    data: $('#taskForm').serialize(),
                    success: function (response) {
                        Swal.fire({
                            title: 'Информация',
                            text: response.description,
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });
                    },
                    error: function (response) {
                        Swal.fire({
                            title: 'Ошибка',
                            text: response.responseJSON.description,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            }
        });
    });

    $('input[name="nameTask"]').on('change', function () {
        dataTable.draw();
    });

    $('#prioritySearch').on('change', function () {
        dataTable.draw();
    });
    </script>
